@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5F5F5;
}
.side-bar{
    min-height: 100vh;
}
.main_page_content{
    background-color: #F5F5F5;
    width: 100%;
}
.footer-list{
    position: absolute;
    bottom: 0;
}
.search-wrapper{
    min-width: 360px;
}
.active{
    color: #A162F7;
}

.card-item-des:nth-child(1){
   background-color:#A162F7;
  
}
.card-item-des:nth-child(1) h4{
    color:white;
}
.height-screen{
    min-height: calc(100vh + 90px);
}
/* half circle progress bar  */

.sc-gauge {
    width: 200px;
    height: 120px;
  
  }
  .sc-background {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background-color: #F4F5F9;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    text-align: center;
  }
  .card-item-des:nth-child(1) .sc-mask{
    background-color: #a162f7;
  }
  .card-item-des:nth-child(1) .sc-value{
    color: white;
  }
  .card-item-des:nth-child(1) .sc-percentage{
    background-color: white;
  }
  .card-item-des:nth-child(2) .sc-percentage{
    background-color: #FF7E86
  }
  .card-item-des:nth-child(3) .sc-percentage{
    background-color: purple
  }
  .card-item-des:nth-child(4) .sc-percentage{
    background-color: #F6CC0D
  }
  .sc-mask {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    height: 100px;
    background-color: #fff;
    border-radius: 150px 150px 0 0;
  }
  .sc-percentage {
    position: absolute;
    top: 100px;
    left: -200%;
    width: 400%;
    height: 400%;
    margin-left: 100px;
   
  }
  .sc-percentage {
    transform: rotate(25deg);
    transition: transform 1s;
    transform-origin: top center;
  }
  .sc-min {
    float: left;
  }
  .sc-max {
    float: right;
  }
  
  .sc-value {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 24px;
  
  }
  